[submodule "esp-idf"]
	path = esp-idf
	url = https://github.com/espressif/esp-idf.git
[submodule "components/esp32-camera"]
	path = components/esp32-camera
	url = https://github.com/espressif/esp32-camera.git
[submodule "components/qrcode-generator/qrcode-generator"]
	path = components/qrcode-generator/qrcode-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "components/qrcode-recognition/quirc"]
	path = components/qrcode-recognition/quirc
	url = https://github.com/dlbeer/quirc.git
