menu "Example Configuration"
    config WIFI_SSID
        string "WiFi SSID"
        default "myssid"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.
            Can be left blank if the network has no security set.

    menu "Tencent COS(Cloud Object Storage) Configuration"
        config TENCENT_COS_APPID
            string "Tencent APPID"
            default ""
            help
                Get APPID from https://console.cloud.tencent.com/developer

        config TECENT_COS_BUCKET_NAME
            string "Bucket Name"
            default ""
            help
                Get bucket name from https://console.cloud.tencent.com/cos5/bucket

        config TECENT_COS_BUCKET_AREA
            string "Bucket Area"
            default "ap-shanghai-fsi"
            help
                Get bucket area from https://console.cloud.tencent.com/cos5/bucket

        config TECENT_COS_ACCESS_SECRET_ID
            string "Access Secret ID"
            default ""
            help
                Get Secret ID from https://console.cloud.tencent.com/cam/capi

        config TECENT_COS_ACCESS_SECRET_KEY
            string "Access Secret Key"
            default ""
            help
                Get Secret Key from https://console.cloud.tencent.com/cam/capi

        config PPC_EXPIRE_S
            int "Config Expire Time(s)"
            range 30 600
            default 300
    endmenu
endmenu
